@import url(http://fonts.googleapis.com/css?family=Oswald:300);

body{
  margin:0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size:15px;
  border-top:2px solid #006ab2;
}

h1, h2{
  font-family: 'Oswald', sans-serif;
  text-transform:uppercase;
}

h1{
  float:left;
  font-size: 60px;
  margin:0;
  font-weight:normal;
}

h2{
  font-size:40px;
  margin:0;
}

a{
  color:#006ab2;
}

#container{
  max-width:800px;
  padding:10px;
  margin:0 auto;
}

.social{
  float:right;
  margin-top:35px;
}

.about{
  clear:both;
}

@media only screen and (max-width: 900px) {
  .hire-me{
    display:none;
  }
}

@media only screen and (max-width: 760px) {
  .social, h1{
    margin-top:0;
    float:none;
  }
}

@media only screen and (max-width: 500px) {
  .face{
    display:none;
  }
  h1{
    font-size:45px;
  }
  h2{
    font-size:30px;
  }
}


.face {
  float: left;
  margin-right: 13px;
  margin-top:10px;
  border-radius: 70px;
  width: 70px;
  height: 70px;
  background-size: 100%;
  background-image: url('andrew.jpg');
}

section{
  padding-top:10px;
  margin-bottom:10px;
  border-top:1px solid #eee;
}

section ul{
  margin:10px 0;
  padding:0;
}

section li{
  list-style:none;
  padding:0;
  margin:0 0 15px;
}

section h3, section p{
  margin:5px 0;
}

footer{
  font-size:12px;
  color:#bbb;
  margin:40px 0;
}

footer a{
  color:#999;
}