@font-face {
  font-family: 'xkcd-script';
  src: url('../fonts/xkcd-script.woff2') format('woff2'),
       url('../fonts/xkcd-script.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'xkcd-script', 'Comic Sans MS', 'Comic Neue', cursive;
}

#game-container {
  position: relative;
  width: 800px;
  height: 700px;
  max-width: 100vw;
  max-height: 100vh;
}

#game-canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: grab;
}

#game-canvas:active {
  cursor: grabbing;
}
