<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    
    <meta content='Andrew Nesbitt' name='author'>
    <meta content='noodp' name='robots'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href='/style.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {%- seo -%}
    {%- feed_meta -%}

  </head>
  <body>
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand-lg w-100">
          <a href="/" class="navbar-brand face"></a>
          <span class="navbar-brand mb-0 h1"> <a href="/">Andrew Nesbitt</a>     </span>

          <ul class="navbar-nav nav ml-auto">
            <li class="nav-item">
              <a rel="me" href="https://mastodon.social/@andrewnez" title="Mastodon"><i class="bi bi-mastodon"></i></a>&nbsp;
              <a rel="me" href="https://github.com/andrew" title="GitHub"><i class="bi bi-github"></i></a>&nbsp;
              <a href="{{ "/feed.xml" | relative_url }}" title="RSS/Atom Feed"><i class="bi bi-rss-fill"></i></a>
            </li>
            <li class="navbar-item">

            </li>
          </ul>
        </nav>
      </div>

      <main aria-label="Content">
        {{ content }}
      </main>

      <footer>
        <a rel="me" href="https://mastodon.social/@andrewnez">Mastodon</a> ·
        <a href="https://github.com/andrew">GitHub</a> ·
        <a href="{{ "/feed.xml" | relative_url }}">RSS</a>
      </footer>
    </div>
  </body>
</html>
