name: Zizmor

on:
  push:
    branches: ["master"]
    paths:
      - '.github/workflows/**'
  pull_request:
    branches: ["master"]
    paths:
      - '.github/workflows/**'
  workflow_dispatch:

permissions: {}

concurrency:
  group: zizmor-${{ github.ref }}
  cancel-in-progress: true

jobs:
  zizmor:
    name: Audit workflows
    runs-on: ubuntu-latest
    permissions:
      contents: read # checkout
      security-events: write # upload sarif
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd 
        with:
          persist-credentials: false

      - uses: zizmorcore/zizmor-action@0dce2577a4760a2749d8cfb7a84b7d5585ebcb7d
